.caption {
  text-align-last: left;
  font-family: imperial;
  font-size: x-small;
  padding: 3px;
}

br {
  content: "";
  margin-bottom: 0.7em!important;
  display: block;
}

.entry-text {
  width: 30vw;
  margin: 0 auto;
  padding: 0vh 0vw 3vh 0vw;
  font-family: imperial;
  white-space: pre-line;
  text-align: justify;
}