body {
  font-family: imperial;
  background-color: rgba(242,242,242);
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  margin:0vw auto;
}

/*ANIMATED STYLE*/


.grad {
  background: linear-gradient(19deg, #a2a2a2, #203a46, #2f2420, #d5d5d5, #e4e4e4, #000000, #c6c6c6, #c6c6c6, #c6c6c6, #555555, #959595, #d1d1d1, #d1d1d1, #292929, #2a3071, #252527);
  background-size: 3200% 3200%;

  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}
@keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}

.page, .work, .leftt, .right, .page-full, div, .img-fullpage {
  transition: width 2s, height 2s, visibility 2s, click 2s, display 2s, opacity 2s, background-color 1s;
}

/* INTERACTIVE STYLING */

/* next() btn, -> show 1 div at once */
#works .work:not(:first-child) {
  display: none; 
}


.right .page:hover {
  opacity: 1;
  font-size: 2vh;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🔫</text></svg>'), auto;

}
.right:hover:.page:hover {
  padding:0vw;
}

.right:hover, #works {
  transition: padding 0.5s, width 0.5s, height 0.5s, visibility 0.5s, click 0.5s, display 0.52s, opacity 0.5s, background-color 0.5s;
}

.page {
  height:fit-content;
}

.right .page:not(:first-child) {
  margin-top: 9vh;

}
.greybc {
  background: #aeaeae!important;
}
.blogcentered {
  background: #aeaeae;
  font-size: 2vh!important;
  height: fit-content!important;
  color: #ffffff;
  font-family: sans-serif;
  line-height: 2.1vw;
  padding: 5vw;
  white-space: pre-wrap;
  margin: -5vw;
  top: 240px!important;
  position: inherit;
  margin-bottom: 5vw;
}
/* .goleft:hover {
  background-image: linear-gradient( 
    14deg
    , #69575c26, #caa8b300 10% );
        transition: 0.1s;
        filter: blur(41px) contrast(2.5) brightness(8.8) hue-rotate(
    35deg
    );
} */
/* 
.goleft:hover ~ .goflight {
  background-image: linear-gradient( 88deg ,#6c4c552b -70%, #405d5078 10%, #5b2a2ab3 140%, #b5e1b5 1000%);
  transition: 0.1s;
  filter: blur(100px) contrast(130%) brightness(531%) hue-rotate(188deg) saturate(450%);
  transition: 1s;
}

.goright:hover ~ .goflight {
  background-image: linear-gradient(
268deg
, #4e526338, #f7f7f70f, #cfa8f301 140%);
  transition: 0.1s;
  filter: blur(10px) contrast(250%) brightness(541%) hue-rotate(
20deg
);
transition: 1s;

} */


/* .goflight {
  width: 100%;
  height: 34%;
  position: absolute;
  top: 0;
  left: 0;
} */

  .goleft, .goright {
    position: absolute;
    overflow: overlay;
    width:50%;
    height:100%;
    z-index:1;
    transition: 1s;
  }
  .goleft{
    left:0;
  }
  .goright {
    right:0;
  }

  #prev:hover {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🍔</text></svg>'), auto;
  }

  #next:hover{
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🦄</text></svg>'), auto;
  
}
  .page-full:hover {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🦄</text></svg>'), auto;

  }

.darkmode {
  background-color: black;
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
}

/* GENERAL SHAPE STYLING */ 
#uncensored {
  color: white;
  
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(224 224 224);
  /* padding: 0.71vw; */
}

#menu-left {
  position: relative;
  height: 90vh;
  overflow: hidden;
  float: left;
  font-family: imperial;
  /* background: aquamarine; */
  width: 9.3vw;
  bottom: 0px;
  left: 1vh;
  top: 3vh;
  display: none;
}

div#nav div {
  text-align: center;
  align-self: center;
  padding: 5px;
}

#nav #next {
  background-color: #fff7f7;
  width: 50%;
  
}

#nav #prev {
  background-color: #e7e7e7;
  width: 50%;
  
}

div#nav {
  display:  inline-flex;
  /* place-content: center; */
  position: absolute;
  width: 3.5vw;
  height: 2.5vh;
  background-color: cornflowerblue;
  left: 0.8vw;
  top: 8vh;
  font-size: x-small;
}

#prev:hover, #next:hover {
  font-weight: bold;
}

.page-full {
  display: none;
  width: 75vw;
}

canvas#flipbar {
  width: 100%;
  height: 4vh;
}

#works {
  margin:0vw auto;
  /* width: 100%-4vw; */
  background-color: rgb(203 203 203);
  padding: 5vh 5vw 5vh 5vw;
  height: 90vh;
  font-family: imperial;
}

.work {
  width: 100%;
  display: flex; justify-content: space-around;
  height: 100%;
  

}

.left, .right {
  width: 100%;
  position: relative;

}

.left { 
  background-color: rgb(246, 246, 246);
  height: 100%;
  resize: inline;
  overflow: hidden;
  width: inherit;
}

.right {
  resize: inline;
  overflow: auto;
  background-color: rgb(248, 248, 248);
  transition: opacity 1s;
  width:270vw;
  padding:5vw;
}

body {
  scrollbar-color:#e2e2e2;
  scrollbar-width: thin;          /* "auto" or "thin" */
}
.right::-webkit-scrollbar-track {
  background-color: #3f3f3f38;
  border-radius: 40px 40px 0px 0px;
}
.right::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 40px;
  border: 2px solid #00000008;

}
.right::-webkit-scrollbar {
  width: 15px;

}

.sub-top {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7.5%;
  background-color: rgb(255, 255, 255);
  padding-bottom:7.5%;
}

.sub-bottom {
  padding:5% 10% 5% 10%;
  position:absolute;                  
  bottom:0;                          
  width: -webkit-fill-available;
  background-color: rgb(255, 255, 255);
}

.sub-block {
  background-color: rgb(255, 255, 255);
  text-transform: capitalize;
  padding: 1% 10%;
}

.sub-block div {
  font-style: italic;
}
.sub-block p {
  margin: 5px;
  display: list-item;
  list-style: square;
}

.sub-block:last-child {
  padding-bottom: 1.3vh;
}

#sub-main {
  overflow: hidden;
  height: 50vh;
  position: relative;
  text-transform: capitalize;
  text-align-last: en;
  -webkit-text-emphasis-style: open;
}


.sub div {
  background-color:#4fa4ea00;
}

/* PARAGRAPH AND TEXT STYLING */


.title {
    font-size: 1.3vmax;
    overflow: hidden;
    width: fit-content;
    font-weight:700;
}

.s-yea {
  float:right;
}



/* IMG STYLING */ 

.img-fullpage {
  width:100%;
  height:100%;
  background-position: center;
  background-size: contain;
}

