.main-first {
  width: calc(100% - var(--main--absolutepadding) * 2);
  margin-top: var(--main-menuheight);
  position: fixed;
  top: var(--main--absolutepadding);
  z-index: 0;
  height: calc(100vh - var(--main-menuheight) - var(--main--absolutepadding) * 2);
  background: #667c90;
  border-radius: 25vw;
  left: var(--main--absolutepadding);
  overflow:hidden;
}
.main-photo img {
  width: 100%;
  height: 2%;
}

.second {
  margin-top: 300vh;
  position: absolute;
  z-index: 1;
}

.main-entry {
  position: absolute;
  height: fit-content;
  overflow: hidden;
}

.main-text {
  padding: 7vw 25vw 0vw 25vw;
}

:root {
  --main-menuheight: 4vh;
  --main--absolutepadding: 1vw;
}