/* 
.grad-0 {
  background: linear-gradient(
275deg
, #a2a2a2, #203a46, #2f2420, #d5d5d5, #e4e4e4, #000000, #c6c6c6, #c6c6c6, #c6c6c6, #555555, #959595, #d1d1d1, #d1d1d1, #292929, #2a3071, #252527);
  background-size: 40.1% 20.5%;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 520s cubic-bezier(0.21, 1.12, 0.96, -27270.78) infinite;
}

.grad-1 {
background: linear-gradient(19deg, #a2a2a2, #203a46, #2f2420, #d5d5d5, #e4e4e4, #000000, #c6c6c6, #c6c6c6, #c6c6c6, #555555, #959595, #d1d1d1, #d1d1d1, #292929, #2a3071, #252527);
background-size: 3200% 3200%;
-webkit-animation: AnimationName 59s ease infinite;
-moz-animation: AnimationName 59s ease infinite;
animation: AnimationName 59s ease infinite;
}

.grad-2 {
background: repeating-radial-gradient(ellipse at 50% 50%, #0f2434 3%, #3333ff1f 35.68%), repeating-conic-gradient(from 
296.71deg
 at 50% 50%, #ffb5d3 16%, #333 18%, #333 25%, #babad2 45.71%, #73ffae 53.38%);
    background-blend-mode: screen, normal;
    background-repeat: repeat, repeat;
    background-position: 0 0, 0% 0%;
    background-size: 0undefined 0undefined, auto auto;
    background-size: 1% 140%;
    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 50000s cubic-bezier(0.21, 1.12, 0.96, -27270.78) infinite;
}

.grad-3 {
background: repeating-radial-gradient(ellipse at 50% 50%, #0f2434 3%, #3333ff1f 35.68%), repeating-conic-gradient(from 
296.71deg
 at 50% 50%, #ffb5d3 16%, #333 18%, #333 25%, #babad2 45.71%, #73ffae 53.38%);
    background-blend-mode: screen, normal;
    background-repeat: repeat, repeat;
    background-position: 0 0, 0% 0%;
    background-size: 0undefined 0undefined, auto auto;
    background-size: 1% 140%;
    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 50000s cubic-bezier(0.21, 1.12, 0.96, -27270.78) infinite;
}
.grad-4 {
background: linear-gradient( 
275deg
, #a2a2a2, #203a46, #2f2420, #d5d5d5, #e4e4e4, #000000, #c6c6c6, #c6c6c6, #c6c6c6, #555555, #959595, #d1d1d1, #d1d1d1, #292929, #2a3071, #252527);
background-size: 90.1% 130.5%;
animation: AnimationName 520s cubic-bezier(0.21, 1.12, 0.96, -1220.78) infinite;
}
.grad-5 {
background: linear-gradient(125deg, #FFFFFF 0%, #000000 100%), linear-gradient(200deg, #FFD9E8 0%, #FFD9E8 50%, #DE95BA calc(50% + 1px), #DE95BA 60%, #7F4A88 calc(60% + 1px), #7F4A88 75%, #4A266A calc(75% + 1px), #4A266A 100%), linear-gradient(113deg, #FFD9E8 0%, #FFD9E8 40%, #DE95BA calc(40% + 1px), #DE95BA 50%, #7F4A88 calc(50% + 1px), #7F4A88 70%, #4A266A calc(70% + 1px), #4A266A 100%);
background-blend-mode: overlay, overlay, normal;
background-blend-mode: screen, normal;
background-repeat: repeat, repeat;
background-position: 0 0, 0% 0%;
background-size: 0undefined 0undefined, auto auto;
background-size: 1% 140%;
-webkit-animation: AnimationName 59s ease infinite;
-moz-animation: AnimationName 59s ease infinite;
animation: AnimationName 50000s cubic-bezier(0.21, 1.12, 0.96, -27270.78) infinite;
} */

.grad-0 {
  /* background: radial-gradient(circle at 50% 50%, #ffffff, #243966, #0e0b1c, #192228, #0a3831, #1f005c);
  background-size: 0.09% 0.099%;
  animation: rotation 2s linear infinite; */
  background: radial-gradient(circle at 50% 5%, #ffffff, #243966, #0e0b1c, #192228, #0a3831, #1f005c);
  background-size: 100.09% 100.099%;
  animation: rotation 5.6s linear infinite;
}

@keyframes rotation {
  from {
    transform:rotate(0deg)
  }
  to {
    transform: rotate(359deg);

  }
}

#background {
  height: 5060px;
  width: 5160px;
  position: fixed;
  overflow: hidden;
  top: -2000px;
  left: -500px;
}

#background2 {
  height: 5060px;
  width: 5160px;
  position: fixed;
  top: -2000px;
  left: -500px;
  opacity: 1;
  mix-blend-mode: screen;
}


.grad-1 {
  background: linear-gradient(
275deg
, #a2a2a2, #203a46, #2f2420, #d5d5d5, #e4e4e4, #000000, #c6c6c6, #c6c6c6, #c6c6c6, #555555, #959595, #d1d1d1, #d1d1d1, #292929, #2a3071, #252527);
  /* background-size: 40.1% 20.5%; */
  /* -moz-animation: AnimationName 59s ease infinite; */
  animation: rotation2 20.6s linear infinite;
}

@keyframes rotation2 {
  from {
    transform:rotate(359deg)
  }
  to {
    transform: rotate(0deg);
  }
}