.s-typ {
float:left;
padding:0.5vh;
border-radius: 5px;
color: white;
}

.subs-left {
  float: left;
  width: 100%;
}

.title {
  font-size: clamp(100%, 3.3vmax, 3vmax);
    font-weight:700;
}

.left { 
  padding: 80px;
  overflow: hidden;
  width: 29vw;
  background: white;
  border-radius: 13.3vw 0vw;
  text-align: center;
}

.toppy .sub {
  padding: 5px;
  background-clip: content-box;
  background-color: #f1f1f1;
  border-radius: 20px;
  width: min-content;
  height: min-content;
  font-size: x-large;
}
.toppy .sub div {
  font-weight: 700;
  padding: 7px;
  background: #f483ef;
  border-radius: 0px;
}

.toppy {
  padding: 40px;
  display: flex;
  text-align: center;
  height: 41%;
  width: 25vw;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}

.toppy .sub p {
  padding: 8px;
  border-radius: 13px;
  background: #e2e2e2;
  margin: 8px;
  font-size: small;
}

.bugger {
  height: 81vh;
}