.s-typ {
float:left;
padding:0.5vh;
border-radius: 5px;
color: white;
}

.subs-left {
  float: left;
  width: 100%;
}

.title {
  font-size: clamp(100%, 3.3vmax, 3vmax);
    font-weight:700;
}

.left { 
  position: absolute;
  background: white;
  opacity: 1;
  margin: 0 auto;
  padding: 50px;
  top: 10%;
  overflow: hidden;
  z-index: 5;
}
.sub {
  display: none;
}
.info {
width: 96%;
position: absolute;
text-align: right;
}