.s-typ {
float:left;
padding:0.5vh;
border-radius: 5px;
color: white;
}

.subs-left {
  float: left;
  width: 100%;
}

.title {
  font-size: clamp(100%, 3.3vmax, 3vmax);
    font-weight:700;
}

.left { 
  /* background-color: rgb(246, 246, 246);
  height: 100%;
  overflow: hidden;
  border-radius: 1.3vw 0px 3.3vw 0.3vw;
  width: 25vw;
  display: none; */
  position: absolute;
    background: white;
    opacity: 1;
    margin: 0 auto;
    padding: 50px;
    left: 25%;
    top: 25%;
    width: 50%;
    height:50vh;
}
.info {
width: 96%;
position: absolute;
text-align: right;
}