body {
  font-family: imperial;
  background-color: rgba(242,242,242);
  transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  margin:0vw auto;
}

/*ANIMATED STYLE*/


.grad-0 {
    background: linear-gradient(
275deg
, #a2a2a2, #203a46, #2f2420, #d5d5d5, #e4e4e4, #000000, #c6c6c6, #c6c6c6, #c6c6c6, #555555, #959595, #d1d1d1, #d1d1d1, #292929, #2a3071, #252527);
    background-size: 40.1% 20.5%;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 520s cubic-bezier(0.21, 1.12, 0.96, -27270.78) infinite;
}

.grad-1 {
  background: linear-gradient(19deg, #a2a2a2, #203a46, #2f2420, #d5d5d5, #e4e4e4, #000000, #c6c6c6, #c6c6c6, #c6c6c6, #555555, #959595, #d1d1d1, #d1d1d1, #292929, #2a3071, #252527);
  background-size: 3200% 3200%;
  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;
}

.grad-2 {
  background: repeating-radial-gradient(ellipse at 50% 50%, #0f2434 3%, #3333ff 35.68%), repeating-conic-gradient(from 296.71deg at 50% 50%, #ffb5d3 16%, #333 18%, #333 25%, #babad2 45.71%, #b48080 53.38%); background-blend-mode: screen, normal;  background-repeat: repeat, repeat; background-position: 0 0, 0% 0%; background-size: 0undefined 0undefined, auto auto;
}

/* .grad-0 {
  background: linear-gradient(19deg, #a2a2a2, #203a46, #2f2420, #d5d5d5, #e4e4e4, #000000, #c6c6c6, #c6c6c6, #c6c6c6, #555555, #959595, #d1d1d1, #d1d1d1, #292929, #2a3071, #252527);
  background-size: 3200% 3200%;
  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;
} */


@-webkit-keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}
@keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}

.page, .work, .left, .right, .page-full, div, .img-fullpage, window {
  transition: width 2s, height 2s, visibility 2s, click 2s, display 2s, opacity 2s, background-color 1s;
  scroll-behavior: smooth;
}

/* INTERACTIVE STYLING */

/* next() btn, -> show 1 div at once */
#works .work:not(:first-child) {
  display: none; 
}


.right .page:hover {
  opacity: 1;
  font-size: 2vh;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🔫</text></svg>'), auto;

}
/* .right:hover:.page:hover {
  padding:0vw;
} */

.right:hover, #works {
  transition: padding 0.5s, width 0.5s, height 0.5s, visibility 0.5s, click 0.5s, display 0.52s, opacity 0.5s, background-color 0.5s;
}

.page {
  height:fit-content;
}

  #prev:hover {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🍔</text></svg>'), auto;
  }

   #nav #next:hover{
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🦄</text></svg>'), auto;
}
  .page-full:hover {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" style="font-size: 40px; font-color:white;"><text y="40">🦄</text></svg>'), auto;
  }

#up:hover, #down:hover {
  cursor:move;

}



#menu-left {
  position: relative;
  height: 90vh;
  overflow: hidden;
  float: left;
  font-family: imperial;
  width: 9.3vw;
  bottom: 0px;
  left: 1vh;
  top: 3vh;
  display: none;
}

.althidden {
  transition: opacity 0.3s linear;
  position: relative;
  background-color: white!important;
  font-size: smaller;
  padding: 8px;
  opacity: 0;
}

.alt:hover ~ .althidden {
 opacity: 1;
}
.alt {
  font-size: small;
  display: block;
}

#works {
  margin:0vw auto;
  background-color: rgb(203 203 203);
  padding: 2vh 1vw 2vh 1vw;
  height: 100vh;
  font-family: imperial;
  margin-top: 3vh;
}

.work {
  width: 100%;
  display: flex; justify-content: space-around;
  height: 100%;
}

.left, .right {
  position: relative;
}

.left { 
  background-color: rgb(246, 246, 246);
  height: 100%;
  overflow: hidden;
  width: inherit;
}

.right {
  overflow: auto;
  background-color: rgb(248, 248, 248);
  transition: opacity 1s;
  width: 340vw;
  padding: 1vw;
}

body {
  scrollbar-color:#e2e2e2;
  scrollbar-width: thin;          /* "auto" or "thin" */
}
.right::-webkit-scrollbar-track {
  background-color: #3f3f3f38;
  border-radius: 0px 0px 40px 40px;
}
.right::-webkit-scrollbar-thumb {
  background-color: #00fff21f;
  border-radius: 0px 0px 40px 40px;
  border: 2px solid #00000008;

}
.right::-webkit-scrollbar {
  width: 15px;
}

.sub-top {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7.5%;
  background-color: rgb(255, 255, 255);
  padding-bottom:7.5%;
}

.sub-bottom {
  padding:5% 10% 5% 10%;
  position:absolute;                  
  bottom:0;                          
  width: -webkit-fill-available;
  background-color: rgb(255, 255, 255);
}

.sub-block {
  background-color: rgb(255, 255, 255);
  text-transform: capitalize;
  padding: 1% 10%;
}

.sub-block div {
  font-style: italic;
}
.sub-block p {
  margin: 5px;
  display: list-item;
  list-style: square;
}

.sub-block:last-child {
  padding-bottom: 1.3vh;
}

.title {
    font-size: 1.3vmax;
    overflow: hidden;
    width: fit-content;
    font-weight:700;
}

.s-yea {
  float:right;
}



/* IMG STYLING */ 

.img-fullpage {
  width:100%;
  height:100%;
  background-position: center;
  background-size: contain;
  margin-bottom: 9vh;
}

.entryphoto :last-of-type, .entryphoto:nth-last-child(0)   {
  margin-bottom: 0vh!important;
}