div#home a {
  text-decoration: none;
  color: black;
}

#menu {
  Z-INDEX: 1;
  background: #ffffff2e;
  text-align: -webkit-center;
  position: relative;
}

#getbio {
  background: #ffffff12;
}

#up, #down, #home {
  background-color: #e7e7e745;;
  width: 50%;
}

#nav div {
  width: 2vw!important;
    text-align: center;
    padding: 0vw 0.5vw 0vw 0.5vw;
    
    height: 4vh;
}
#nav #next {
  background-color: #fff7f7;
  width: 50%;
}

#nav #prev {
  background-color: #e7e7e7;
  width: 50%;
  
}

div#nav {
  display: inline-flex;
  min-height: 4vh;
  align-items: center;
  font-size: 3vh;
}

#nav div:hover {
  font-weight: bold;
}


.largeMenu #nav div {
  width: 16vw!important;
  height: 10vh;
  font-size: 7vh;
}

.info:hover {
  font-weight: 700;
  cursor: help;
}

.info {
  width: 96%;
  position: absolute;
  text-align: right;
  top: 8vh;
  z-index: 1;
}