div#home a {
  text-decoration: none;
  color: black;
}

#menu {
  background: rgb(255 255 255);
  position: fixed;
  display: flex;
  width: 100vw;
  height: 4vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 2;
}

#getbio {
  background: #ffffff12;
}


#nav div {
  height: 4vh;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}


div#nav {
  font-size: 3vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: space-around;
  width: 10vw;
}

#nav div:hover {
  font-weight: bold;
}


.largeMenu #nav div {
  width: 16vw!important;
  height: 10vh;
  font-size: 7vh;
}

.info:hover {
  font-weight: 700;
  cursor: help;
}

.info {
  width: 96%;
  position: absolute;
  text-align: right;
  top: 8vh;
  z-index: 1;
}

#getbio {
  cursor: pointer;
}

.info:hover ~ .left {
  opacity: 1;
}